@model IEnumerable<HW04BookStore.Models.Romance>

@{
    ViewBag.Title = "RomIndex";
}

<h2>RomIndex</h2>

<button class="btn btn-success" onclick="window.location.href = '@Url.Action("AddRomToStore","Store")'">Add a book</button>


<br />
<br />


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Edition)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RomanceISBN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookTwin)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Edition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RomanceISBN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookTwin)
            </td>
            <td>
                <button class="btn btn-info" onclick="window.location.href = '@Url.Action("EditRom","Store", new { Id = item.ID })'">Edit</button>
                <button class="btn btn-danger" onclick="window.location.href = '@Url.Action("DeleteRom","Store", new { Id = item.ID  })'"> Delete</button>
            </td>
        </tr>
    }

</table>
